.parent {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 0px;
}

.div1 {
	grid-area: 1 / 1 / 3 / 4;
	height: 200px;
}
.div2 {
	grid-area: 1 / 4 / 3 / 7;
	height: 200px;
}
.div3 {
	grid-area: 3 / 1 / 5 / 3;
	height: 250px;
}
.div4 {
	grid-area: 3 / 3 / 5 / 5;
	height: 250px;
	margin-top: 20px;
}
.div5 {
	grid-area: 3 / 5 / 5 / 7;
	height: 250px;
	margin-top: 40px;
}

.parent-card {
	display: grid;
	grid-template-columns: repeat(5, 1fr) 5fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: auto 10px;
}

.div1-card {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
}
.div2-card {
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
}
.div3-card {
	grid-area: 1 / 3 / 2 / 4;
	text-align: center;
}
.div4-card {
	grid-area: 1 / 4 / 2 / 5;
	text-align: center;
}
.div5-card {
	grid-area: 1 / 5 / 2 / 6;
	text-align: center;
}
.div6-card {
	grid-area: 1 / 6 / 2 / 7;
	font-family: "Spartan";
	font-weight: bolder;
	font-size: 12px;
	color: hsl(300, 43%, 22%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.parent-main-card {
	height: 250px;
	display: grid;
	grid-template-columns: 1fr 2fr repeat(2, 1fr);
	grid-template-rows: repeat(3, 0.3fr);
	grid-column-gap: 0px;
	grid-row-gap: 3px;
	font-family: "Spartan";
	font-size: 12px;
	color: hsl(0, 0%, 100%);
}

.div1-main-card {
	grid-area: 1 / 1 / 3 / 2;
	align-self: center;
}
.div2-main-card {
	grid-area: 1 / 2 / 2 / 5;
	align-self: self-end;
	font-weight: 500;
	font-size: 15px;
}
.div3-main-card {
	grid-area: 2 / 2 / 3 / 5;
	align-self: self-start;
	color: hsl(333, 80%, 67%);
	font-size: 15px;
}
.div4-main-card {
	grid-area: 3 / 1 / 4 / 5;
	align-self: baseline;
	color: hsl(300, 24%, 96%);
	line-height: 25px;
	font-size: 15px;
}
